
.section{
  width: 100%;
  padding: 2.5rem 0rem;
}
.container{
  max-width: 285px;
  margin: auto;
  position: relative; 
}
.content{
  padding-top: 1rem;
}
h2{
  color: #7B6F5A;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0rem;
}

input,button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  border-radius: 0;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: .9rem;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none; 
    margin: 0; 
}
input[type="submit"],
label{
    cursor: pointer;
} 




/* ==共用== */
.form-structor {
  background-color: #202020;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;   /* 限制下方顯示 */
}
.form-structor .form-body {
  width: 285px;
  margin: auto;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}
.slide-up .form-body{
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
}
.form-body input {
  background-color: #fff;
  padding-left: 1rem;
  width: 100%;
  margin-bottom: 1.3rem;
}
input::-webkit-input-placeholder {
  color: #00000066;
}

.form-structor .form-title, 
.form-structor .form-title span {
  display: block;
}
.form-structor .form-title span{
  opacity: 0;
  visibility: hidden;
}
.form-structor .form-title {
  padding: 1.3rem;
  font-size: 1.7rem;
  text-align: center;
}
.login .form-title{ color: #fff; }
.signup .form-title{ color: #7B6F5A; }


.user-form .ps-memo{
  font-size: .9rem;
  line-height: 1.2rem;
  margin-top: -1rem;
}
.user-form .ps-memo::after{
  content: '';
  display: block;
  clear: both;
}
.ps-memo span{
  float: left;
  color: #707070;
}
.ps-memo a{
  float: right;
  text-decoration: underline;
}
.form-structor .submit-btn {
  display: block;
  margin-top: 3rem;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}
.form-structor .signup .submit-btn { background-color: #7B1B1B; }
.form-structor .login .submit-btn {  background-color: #008060; }

/* ==共用== */


/* 登入會員點擊前====(順序會影響CSS) */
.form-structor .login {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  z-index: 5;
  -webkit-transition: all .3s ease;
  outline: 1px solid red;
}
/* 登入會員點擊前====(順序會影響CSS) */



/* 點擊後 */
.login.slide-up {
  top: 5%;
  -webkit-transform: translate(-50%, 0%); /* 主要控制垂直軸同top */
  -webkit-transition: all .3s ease;
}
.form-structor .btm-folder {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  -webkit-transition: all .3s ease;
  background-color: #EFEEE9;
}
.form-structor .btm-folder .signup{
  width: 100%;
  position: absolute;
  top: calc(50% - 10%);  /* 10%為btm-folder top:20%/2 */
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  z-index: 5;
  -webkit-transition: all .3s ease;
  outline: 1px solid green;
}
/* 點擊後 */



/* 註冊會員點擊前====(順序會影響CSS) */
.form-structor .btm-folder.slide-up {
  top: 85%;
  -webkit-transition: all .3s ease;
}
.btm-folder.slide-up .signup {
  top: 0%;
  -webkit-transform: translate(-50%, 0%); /* 主要控制垂直軸同top */
  -webkit-transition: all .3s ease;
  /* background-color: pink; */
}

.slide-up .form-title {
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: all .3s ease;
}
.slide-up .form-title span{
  opacity: 1;
  visibility: visible;
  font-size: 1.5rem;
}
/* 註冊會員點擊前====(順序會影響CSS)  */















