
*{
    text-decoration: none;
    scroll-behavior: smooth;
    /* outline: 1px solid red; */
}
body{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    letter-spacing: .1rem;
}

.section{
    width: 100%;
    padding: 2.5rem 0rem;
}
/* 解決導覽列fixed蓋住問題 */
.section-fixed{
    width: 100%;
    padding: 4.375rem 0rem 2.5rem;
}
.container{
    max-width: 285px;
    margin: auto;
    position: relative; 
}
.content{
    padding-top: 1rem;
}
h2{
    color: #7B6F5A;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0rem;
}

input,button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    border-radius: 0;
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 2.5rem;
    font-size: .9rem;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none; 
    margin: 0; 
}
input[type="submit"],
button,label{
    cursor: pointer;
} 

.info{
    padding: 1rem 0rem;
    margin-bottom: 5rem;
    text-indent: 2.2rem;
    text-align: justify;
    line-height: 1.3rem;
    color: #545454;
}
.info strong{
    display: block;
    padding: 1rem 0rem;
    text-indent: 0rem;
    font-weight: 500;
}

/* <!-- page-header START --> */
.page-header{
    width: 100%;
    background-color: #202020;
    position: fixed;
    z-index: 5;
}
.page-header .container{
    max-width: 480px;
}
.page-header a{
    display: block;
}
    
.page-header h1{
    background-color: #202020;
    position: relative;
    z-index: 7; /* 蓋住下拉手機側選單 */
}
    /* 排版 */
.page-header .menu-btn,
.page-header .cart-btn{
    position: absolute;
    top:0;
    z-index: 7;
}
.page-header .menu-btn{ left: 0;}
.page-header .cart-btn{ right: 0;}
.page-header .fas{
    font-size: 30px;
    font-weight:300;
    color: #fff;
    padding: 20px;
}
.cart-btn .fas.fa-shopping-cart{
    padding-right: 25px;
}
.menu-btn .fas.fa-times{
    padding:20px 23.75px;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: .5s;
}

    /* 細項 */
.page-header h1 a{
    width: 125px;
    padding: 15px;
    margin: auto;
}
.page-header h1 img{
    width: 100%;
    vertical-align: middle;
}
.page-header h1 span{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.page-header .cart-num{
    opacity: 1;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FFD4D4;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: #202020;
    font-weight: 400;
    position: absolute;
    top: 5px;
    right: 10px;
}

    /* main-nav START*/
#menu-controler{
    position: fixed;
    top: 0;
    left: 0;
}
#menu-controler:checked ~ .page-header .main-nav{
    top: 70px;
}
#menu-controler:checked ~ .page-header .fa-bars{
    opacity: 0;
}
#menu-controler:checked ~ .page-header .fa-times{
    opacity: 1;
}

.menu-btn span{
    position: absolute;
    opacity: 0;
}
.main-nav{
    width: 100%;
    height: 100vh;
    background-color: #202020;  
    text-align: center;
    position: absolute;
    top: -100vh;
    transition: .5s;
}

.menu ~ label{
    display: none;
}
.menu li{
    border-bottom:1px solid #707070 ; 
    position: relative;
}
.menu a,
.menu .user-btn{
    display: block;
    line-height: 4rem;
    color: #fff;
}

    /* main-nav END*/

    /* 調整錨點位置 START */
h2{
    position: relative;
}
h2 span{
    position: absolute;
    top: -70px;
}
    /* 調整錨點位置 END */

    /* <!-- wish-list START --> */
#cart-controler:checked ~ .page-header .wish-list{
    right: 0%;
}

.wish-list::before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #EFEEE9;
    position: absolute;
    right: 25px;
    top: -10px;
    z-index: 9;
}

.wish-list{
    width: 100%;
    max-width: 320px;
    height: calc(100vh - 70px);
    background-color: #EFEEE9;
    position: absolute;
    top: 70px;
    right: -300%;
    transition: .5s ease-in-out;
    box-shadow: 0px 0px 5px #a5a5a5,
                0px 0px 0px 500px #000000a0;
}
.wish-list .container{
    max-width: 100%;
}
.wish-list .item{
    background-color: #cfcfcf4e;
    padding: 1rem;
    margin-bottom: 1.3rem;
    box-sizing: border-box;
}
.wish-list .item::after{
    content: '';
    display: block;
    clear: both;
}
.wish-list .product-body .pic{
    width: 135px;
    height: 135px;
    margin: 0;
    border-radius: 0%;
}

.wish-list .product-body .pic{
    float: left;
}
.wish-list .txt,
.wish-list .product-body .add-cart,
.wish-list .cart-box input[type="submit"]{
    float: right;
}
.wish-list .txt .delete{
    background-color: #3f3f3fdb;
    color: #fff;
    padding: 0 1rem;
    margin:0 0 .5rem .2rem;
}
.wish-list .txt .delete:hover{
    background-color: #3f3f3f;
}
.wish-list .add-cart{
    margin-bottom: .5rem;
}

.wish-list .product-body h3{
    display: inline-block;
    font-size: 1rem;
    color: #7B6F5A;
    padding: 0;
}
.wish-list .fas{
    padding: 0;
    font-size: .9rem;
    font-weight: 900;
}
.wish-list .pay{
    width: 90%;
    margin: 1rem auto 0;
    background-color: #7B1B1B;
    border: 1px solid #7B1B1B;
    box-sizing: border-box;
    line-height: 2.5rem;
    color: #fff;
    text-align: center;
}
.wish-list .pay:hover{
    background-color: #AA4F01;
}
    /* <!-- wish-list END --> */    

    /* 購物車數量清單 */
#cart-controler,
.cart-btn span{
    position: fixed;
    right: 0;
}
.cart-btn span{
    opacity: 0;
}
    /* 購物車數量清單 */

    /* 手機版會員登入 */
#user-controler,
.user-btn span{
    position: fixed;
    top: 0; 
    opacity: 0; 
}

.pc-login{
    display: none;
}
    /* 手機版會員登入 */
/* <!-- page-header END --> */


/* <!-- story START --> */
.section-fixed.story{
    background: url('../img/phone/banner.jpg') center top/ contain; 
    padding: 60vh 0 0 0; 
}
.story .container{
    max-width: 100%;
    background-color: #EFEEE9;
    padding: 2.5rem 0;
}
.story .content{
    max-width: 285px;
    margin: auto;
    text-align: justify;
    line-height: 1.3rem;
    color: #9E9E9E;
}

    /* 不規則圖案 */
.story .topic,
.story .content{
    position: relative;
    z-index: 2;
}
.story .container::before{
    content: '';
    position: absolute;
    top: -5%;
    left: 30%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #EFEEE9;
    box-shadow: -300px 10px 0px 50px #EFEEE9,
                -150px 80px 0px 150px #EFEEE9,
                 20px 25px 0px 45px #EFEEE9,
                 150px 30px 0px 30px #EFEEE9,
                 180px 80px 0px 130px #EFEEE9,
                 300px 80px 0px 100px #EFEEE9,
                 400px 80px 0px 100px #EFEEE9,
                 560px 50px 0px 70px #EFEEE9;

}
    /* 不規則圖案 */

.story h5{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: .6rem 0rem;
}
.story p{
    font-size: 1rem;
    font-weight: 300;
    text-indent: 2.2rem;
    padding-bottom: 1.3rem;
}

.story .more,
.story .close{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    background-color: #FFD4D4;
    text-align: center;
    line-height: 80px;
    font-size: .9rem;
    letter-spacing: 0;
    color: #d5b4b4;;
    position: relative;
}
.story .more::after{
    content: "\f0d7";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    top: 1.3rem;
    right: 50%;
    transform: translateX(50%);
}
.story .close::before{
    content: "\f0d8";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    bottom: 1.3rem;
    right: 50%;
    transform: translateX(50%);
}
/* <!-- story END --> */


/* <!-- intro START --> */
.intro{
    background-color:#202020;
    overflow: hidden;
}
.intro .item + .item{
    padding-top: 2rem;
}
.intro h2{
    color: #fff;
}

    /* 排版 */
.intro .fig-group{
    width: 100%;
    padding: 6rem 0rem 4rem;
    position: relative;
}
.intro .sum-box,
.intro .tip{
    display: inline-block;
    position: absolute;
    right:0;
}
.intro .sum-box{
    color: #fff;
    font-size: 0;
    top: 0;
    z-index: 2;
}
.intro .item:nth-child(even) .sum-box{
    direction: rtl;
    right: 0;
    left: 0;
}
.intro .tip{
    font-weight: 400;
    line-height: 1.3rem;
    padding: 2rem;
    background-color: #FFD4D4;
    border-radius: 6.25rem;
    bottom: 0;
}
.intro .item:nth-child(even) .tip{
    background-color: #ffd4d4ad;
    width: 7.5rem;
    height: 7.5rem;
    text-align: center;
    color: #fff;
    padding: 0;
    border-radius: 50%;
    right: 40%;
    z-index: 0;
}
.intro .pic{
    width: 18.75rem;
    height: 12.5rem;
    border-radius: 6.25rem;
    overflow: hidden;
    position: relative;
    right: 40%;
}
.intro .item:nth-child(even) .pic{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    right: -40%;
    z-index: 1;
}
.intro .pic img{
    width: 100%;
    vertical-align: middle;
}

    /* 細項設定 */
.intro span,
.intro .point{
    display: inline-block;
    vertical-align: top;
}
.intro .item:nth-child(even) span,
.intro .item:nth-child(even) .point{
    text-align: right;
}
.intro span{
    font-size: 8.75rem;
    font-weight: 400;
}
.intro .point h5{
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 4rem;
}
.intro .point h5::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #737373;
}
.intro .point p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 1rem 0rem;
}
.intro .item .txt{
    color: #9E9E9E;
    line-height: 1.3rem;
    text-indent: 2.2rem;
    padding: 1.3rem 0rem;
}

    /* 垂直置中 */
.intro .item:nth-child(even) .tip::before{
    content: '';
    width: 0%;
    height: 100%;
}
.intro .item:nth-child(even) .tip::before,
.intro .item:nth-child(even) .tip p{
    display: inline-block;
    vertical-align: middle;
}

/* <!-- intro END --> */


/* <!-- faith START --> */
.faith{
    width: 100%;
    background: #EFEEE9 url('../img/phone/faith.jpg') fixed top left/contain;
}
.faith strong{
    display: block;
    text-align: center;
    padding: 10rem 4rem 5rem;
    color: #EFEEE9;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
/* <!-- faith END --> */


/* <!-- principle START --> */
.principle{
    background-color: #EFEEE9;
}
.principle .content{
    text-align: center;
}

.principle .topic,
.principle .content{
    position: relative;
    z-index: 2;
}
.principle .container::after{
    content:'';
    position: absolute;
    bottom: 0%;
    left: -65%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #EFEEE9;
    box-shadow: 
                -255px -20px 0px 100px #EFEEE9,
                -100px -20px 0px 100px #EFEEE9,
                 60px 10px 0px 100px #EFEEE9,
                 200px 80px 0px 30px #EFEEE9,
                 350px -45px 0px 165px #EFEEE9,
                 560px 15px 0px 70px #EFEEE9;
}

.principle .item{
    border: 3px dashed #706f6f42;
    box-sizing: border-box;
}
.principle .item + .item{
    margin-top: 2rem;
}
.principle .pic img{
    width: 100%;
    vertical-align: middle;
}
.principle h6{
    color: #7B6F5A;
    font-size: 1rem;
    font-weight: 400;
    padding: 1.2rem 0rem;
}

/* <!-- principle END --> */


/* <!-- news START --> */
.news{
    background-color:#dad4ca99;
}
.news .container{
    max-width: 100%;
}
.news-body .pic,
.news-body .summary{
    display: none;
}
.news-body a{
    display: block;
}
.news-body .title{
    background-color: #dad4ca99;
    border-bottom:2px solid #fff ;
    box-sizing: border-box;
    color: #9E9E9E;
    font-weight: 400;
    padding: 2rem 0rem 2rem .5rem;
    transition: all .5s;
    position: relative;
}
.news-body .title::after{
    content: '\f30b';
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 1.55rem;
    vertical-align: middle;
    position: absolute;
    right: 3%;
}
.news-body h4{
    font-size: 1.1rem;
}

.news-body time{
    font-size: .8rem;
    /* padding-left: .5rem; */
}

.txt-more{
    text-align: right;
}
.txt-more a{
    display: inline-block;
    color: #202020;
    font-weight: 400;
    padding: 2rem 2rem .5rem 0rem;
    border-bottom: 2px solid #202020;
}
.txt-more a::after{
    content: '\f30b';
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 1rem;
    vertical-align: middle;
    position: absolute;
    right: 3%;
}
/* <!-- news END --> */


/* <!-- subscribe START --> */
.subscribe{
    background-color: #4E473B;
    color: #fff;
    font-size: .9rem;
    line-height: 1.3rem;
}
.subscribe form{
    text-align: right;
}
.subscribe input{
    vertical-align: bottom;
}
.subscribe input[type="email"]{
    width: 100%;
    color: #737373;
    margin-bottom: 1rem;
    padding-left: 1rem;
}
.subscribe input[type="submit"]{
    width: 100px;
    background-color: #008060;
    color: #fff;
}
/* <!-- subscribe END --> */


/* <!-- product START --> */
.product{
    background-color: #DFD9D1;
    text-align: center;
}
.product .content{
    width: 100%;
    display: grid;
    grid-auto-rows: 1fr;
    grid-column-gap: 3%;
    grid-template-rows: auto;
    grid-template-columns: repeat(1,1fr);
}
.product .item{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #7B6F5A;
    padding: 1rem;
    color: #7B6F5A;
}
.product .item + .item{
    margin-top: 2rem;
}
.product-body{
    position: relative;
}
.product a{
    display: block;
}
.product-body .pic{
    width: 70%;
    margin: 1.3rem auto;
    border-radius: 50%;
    overflow: hidden;
}
.product-body .pic img{
    width: 100%;
    vertical-align: middle;
}
.product-body h3,
.product-body ins,
.product-body del{
    font-size: 1.3rem;
    line-height: 1.5rem;
}
.product-body del,
.product-body ins{
    display: inline-block;
    padding: 1.5rem .5rem;
    font-weight: bold;
}
.product-body h3{ padding: 1.5rem 0rem; font-weight: 500;}
.product-body ins{ color: #7B1B1B; }
.product-body del{ text-decoration: line-through; }

.product-body .summary{
    font-weight: 400;
    line-height: 1.3rem;
    text-align: justify;
}
.product-body .cart-box::after{
    content: '';
    display: block;
    clear: both;
}
.product-body .add-cart{
    width: 48%;
    font-size: 0;
    letter-spacing: 0;
    float: left;
}
.add-cart button,
.add-cart input[type="number"]{
    width: 33.333333%;
    border: 1px solid #7B6F5A;
    background-color: transparent;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.add-cart button{
    background-color: #D9D2C8; 
}
.add-cart button:hover{
    background-color: #AA4F01; 
}
.add-cart button:hover .fas{
    color: #fff; 
}
.add-cart button:first-child{ border-right: 0px ; }
.add-cart button:last-child{ border-left: 0px ; }

.add-cart input[type="number"],
.add-cart .fas{
    color: #7B6F5A ;
}
.add-cart input[type="number"]{ font: 1.2rem 'Noto Sans TC'; }
.add-cart .fas{
    width: 100%; 
    line-height: 39px;
}

.cart-box input[type="submit"]{
    width: 48%;
    background-color: #7B6F5A;
    color: #fff;
    float: right;
}
.cart-box input[type="submit"]:hover{
    background-color: #AA4F01;  
}

.product-body .detail{
    width: 100%;
    margin-top: 1rem;
    border: 1px solid #7B6F5A;
    box-sizing: border-box;
    line-height: 2.5rem;
    color: #7B6F5A;
}
.product-body .detail:hover{
    background-color: #7B6F5A;
    color: #fff;
}

.product-body .tag{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #7B1B1B;
    padding: .6rem;
}
.product-body .tag.sub{
    background-color: #0b3409;
}
/* <!-- product END --> */


/* <!-- media START --> */
.section.media{
    padding-bottom: 0;
}
.media .container{
    max-width: 100%;
}
.media .content::after{
    content: '';
    display: block;
    clear: both;
}
.media a{
    display: block;
}
.media .item{
    width: 100%;
    float: left;
    position: relative;
}
.media .sns:not(:last-child){
    width: 50%;
}
.media .item img{
    width: 100%;
    vertical-align: bottom;
}

.media .item a::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #00000066;
    transition: .5s;
}
.media .item:hover a::before{
    background-color: transparent;
}
.media .txt{
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.media .fas{
    width: 40px;
    height: 40px;
    margin-bottom: 1.3rem;
    font-size: 2.5rem;
    line-height: 40px;
    color: #fff;
}

    /* iframe */

    .media-list .item{
        text-align: right;
        position: fixed;
        top: -100%;
        left: 0%;
        z-index: 10;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #000000a0;
        transition: .5s;
    }
    .media-list .item:target{
        top: 70px;
    }
    iframe{
        width: 300px; 
        height: 168px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;
    }
    .media-list .close{
        display:block;
    }   
    .media-list .close::before{
        content: '\f00d';
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;  
        font-size: 3rem;
        color: #858585; 
        padding: 3%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .media-list .close:hover::before {
        color: #FFD4D4;
    } 

/* <!-- media END --> */


/* <!-- retail-outlet START--> */
.retail-outlet{
    background-color: #EFEEE9;
}
.retail-outlet .container{
    max-width: 100%;
}
.retail-outlet .item{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px #B4B4B4;
    font-size: 0;
    letter-spacing: 0;
}
.retail-outlet .item + .item{
    margin-top: 2rem;
}
.retail-outlet .pic{
    width: 30%;
}
.retail-outlet .pic img{
    width: 100%;
    vertical-align: middle;
}
.retail-outlet .txt{
    width: 70%;
    padding: 0rem 1.25rem;
    box-sizing: border-box;
    font-size: .8rem;
    letter-spacing: .1rem;
    line-height: 1.2rem;
    color: #7B6F5A;
}
.retail-outlet .pic,
.retail-outlet .txt{
    display: inline-block;
    vertical-align: middle;
}
.retail-outlet h3{
    font-size: 1.1rem;
    font-weight: 500;
    padding: .3rem 0rem;
}
.retail-outlet h3::before{
    content: '\f3c5';
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 1.1rem;
    color: #B4B4B4;
    padding-right: .5rem;
    vertical-align: top;
}
.retail-outlet span{
    display: block;
}
/* <!-- retail-outlet END--> */


/* <!-- page-footer START --> */
.page-footer{
    background-color: #202020;
    text-align: center;
    font-size: 0;
}
.page-footer .content{
    padding: .5rem 0rem 2rem;
}
.page-footer a{
    display: block;
}

.social-link li{
    display: inline-block;
}

.social-link .fab{
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem;
}
.page-footer .copyright{
    display: block;
    font-size: .7rem;
    font-weight: 200;
    color: #fff;
    line-height: 1rem;

}
/* <!-- page-footer END --> */

/* ========================== 手機分頁 ========================== */

/* <!-- page-login START --> 登入分頁 */
.page-login {
    background-color: #202020;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;   /* 限制下方顯示 */
}
.form-structor .form-body {
    width: 285px;
    margin: auto;
    padding: 1.3rem 0rem;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
}
.form-body input {
    background-color: #fff;
    padding-left: 1rem;
    width: 100%;
    margin-bottom: 1.3rem;
}
input::-webkit-input-placeholder {
    color: #00000066;
}
.form-structor .form-title, 
.form-structor .form-title > span {
    display: block;
}
.form-structor .form-title > span{
    opacity: 0;
    visibility: hidden;
}
.form-structor .form-title {
    font-size: 1.7rem;
    text-align: center;
}
.login-area .form-title{ color: #fff; }
.signup-area .form-title{ color: #7B6F5A; }

.page-login .ps-memo{
    font-size: .9rem;
    line-height: 1.2rem;
    margin-top: -1rem;
}
.page-login .ps-memo::after{
    content: '';
    display: block;
    clear: both;
}
.ps-memo span{
    float: left;
    color: #FFD4D4;
}
.ps-memo a{
    float: right;
    text-decoration: underline;
    color:#AA4F01;
}
.form-structor .submit-btn {
    display: block;
    margin-top: 3rem;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}
.form-structor .signup-area .submit-btn { background-color: #7B1B1B; }
.form-structor .login-area .submit-btn {  background-color: #008060; }

.trigger .form-body{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
}
.trigger .form-title {
    font-size: 1rem;
    padding: 1rem;
    font-weight: bold;
    -webkit-transition: all .3s ease;
}
.trigger .form-title > span{
    opacity: 1;
    visibility: visible;
    font-size: 1.5rem;
}

    /* 點擊前-登入會員(順序會影響CSS) */
.form-structor .login-area {
    width: 100%;
    position: absolute;
    top: 70px;
    -webkit-transition: all .3s ease;
/* outline: 1px solid red; */
}
    /* 點擊前-登入會員(順序會影響CSS) */

    /* 點擊後 */
.login-area.trigger {
    -webkit-transition: all .3s ease;
}
.signup-area{
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-transition: all .3s ease;
    background-color: #EFEEE9;
}
.form-structor .signup-area .btm-folder{
    width: 100%;
    z-index: 5;
    -webkit-transition: all .3s ease;
    /* outline: 1px solid green; */
}
    /* 點擊後 */

    /* 點擊前-註冊會員( + trigger)(順序會影響CSS) */
.signup-area.trigger{
    top: 75%;
    -webkit-transition: all .3s ease;
}
.signup-area.trigger .btm-folder{
    top: 0%;
    -webkit-transition: all .3s ease;
}

    /* 點擊前-註冊會員( + trigger)(順序會影響CSS)  */

    /* 不規則圖案 */
.signup-area::before{
    content: '';
    position: absolute;
    top: -10%;
    left: 20%;
    width: 200px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
    background-color: #EFEEE9;
    box-shadow: 400px 80px 0px 100px #EFEEE9,
                300px 80px 0px 100px #EFEEE9,
                180px 80px 0px 130px #EFEEE9,
                -80px 30px 0px 45px #EFEEE9,
                -180px 20px 0px 30px #EFEEE9, 
                -290px 20px 0px 50px #EFEEE9;
}
    /* 不規則圖案 */
/* <!-- page-login END --> 登入分頁 */


/* <!-- page-news START --> 消息分頁 */
    /* <!-- main-news START --> */
.breadcrumbs ol{
    word-spacing: -5px;
    padding: 1rem 0rem;
}
.breadcrumbs li,
.breadcrumbs li h2{
    display: inline-block;
}
.breadcrumbs li h2 a,
.breadcrumbs li:hover a{
    color: #AA4F01;
}
.breadcrumbs li h2{
    font-weight: 500;
    font-size: .85rem;
    padding: 0;
}
.breadcrumbs a{
    display: inline-block;
    font-size: .85rem;
    color: #545454;
    line-height: 1.2rem;
}
.breadcrumbs li:not(:first-child)::before{
    content: "/";
    color: #545454;
    font-size: .9rem;
    font-weight: 500;
    vertical-align: top;
    padding: 0 .25rem;
}
.main-news .pic{
    display: block;
}
.main-news .pic img{
    width: 100%;
    vertical-align: middle;
}
.main-news .title::after{
    display: none;
}
.main-news .title{
    padding: 1rem 0rem;
    border: none;
}
.main-news time{
    display: block;
    margin-bottom: 1rem;
}

.main-news .info span:first-child{
    margin-top: .5rem;
}
.main-news .info span{
    display: block;
    line-height: 1.5rem;
}
.main-news .info span::before{
    content: '\f0f3';
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    padding-right: .5rem;
}
.search{
    position: relative;
}
.search input{
    width: 100%;
    border: 1px solid #c9c4bb;
    padding-left: 1rem;
    color: #737373;
}
.search button{
    background-color: #DAD4CA;
    height: calc(2.5rem - 2px );
    position: absolute;
    top: 1px;
    right: 1px;
}
.search .fas{
    font-size: 1.5rem;
    font-weight: 500;
    color: #7B6F5A;
    padding: 0rem 1rem;
}

    /* <!-- main-news END --> */

    /* <!-- other-news START --> */
.other-news .item + .item{
    margin-top: 2rem;
}
.other-news .content{
    margin-bottom: 10rem;
}
.other-news h3{
    font-size: 1.1rem;
    margin-top: 2rem;
}
.other-news .title{
    font-size: .9rem;
    padding: 1rem 0rem 1rem .5rem;
}
.other-news .title::after{
    content: '\f30b';
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 1rem;
}
.other-news time{
    display: block;
    margin-bottom: 1rem;
}
.other-news .summary{
    display: block;
    padding: .3rem;
    line-height: 1.1rem;
    text-align: justify;
    font-size: .9rem;
    color: #707070;
}
    /* <!-- other-news END --> */
/* <!-- page-news END --> 消息分頁 */


/* <!-- page-product START --> 產品分頁 */
    /* <!-- main-product START --> */
    .main-product a{
        display: block;
    }

        /* pic-gallery START*/
    .main-product input[type="radio"]{
        position: absolute;
        top: 0;
        opacity: 0;
    }

    .main-product .pic-gallery .pic{
        width: 100%;
        height: 285px;
        margin: 0 0 1rem 0;
        border-radius: 0%;
        position: relative;
        /* background-color: pink; */
    }
    .pic-gallery .pic img{
        width: 100%;
        vertical-align: middle;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        transition: .5s;
    }

        /* 縮圖 */
    .pic-select::after{
        content: '';
        display: block;
        clear: both;
    }
    .pic-select label{
        width: 100px;
        height: 100px;
        float: left;
        margin: 0 1rem 1rem 0;
    }
    .pic-select label img{
        width: 100%;
        vertical-align: middle;
    }

    #product-pic1:checked ~ .pic-gallery img:first-of-type{
        opacity: 1;
    }
    #product-pic1:checked ~ .pic-gallery .tab1{
        outline: 3px solid #AA4F01;
    }
    #product-pic2:checked ~ .pic-gallery img:last-of-type{
        opacity: 1;
    }
    #product-pic2:checked ~ .pic-gallery .tab2{
        outline: 3px solid #AA4F01;
    }
        /* pic-gallery END */

        /* info-box START*/
    .main-product .info{
        padding: 0;
        margin-bottom: 2rem;
    }

    .main-product h4,
    .main-product .note{
        color: #545454;
    }
    .main-product h4{
        font-size: 1rem;
        font-weight: 400;
        padding: 1rem 0rem;
    }
    .main-product .note{
        list-style: disc;
        padding-left: 1.2rem;
        line-height: 1.5rem;
    }
    
    .product-body .pay{
        width: 100%;
        margin-top: 1rem;
        background-color: #7B1B1B;
        border: 1px solid #7B1B1B;
        box-sizing: border-box;
        line-height: 2.5rem;
        color: #fff;
        text-align: center;
    }
    .product-body .pay:hover{
        background-color: #AA4F01;
    }
        /* info-box END*/
    /* <!-- main-product END --> */

    /* <!-- other-product START --> */
    .other-product{
        background-color: #DFD9D1;
        text-align: center;
    }
    .other-product .content{
        width: 100%;
        display: grid;
        grid-auto-rows: 1fr;
        grid-column-gap: 3%;
        grid-template-rows: auto;
        grid-template-columns: repeat(1,1fr);
    }
    .other-product .item{
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #7B6F5A;
        padding: 1rem;
        color: #7B6F5A;
    }
    .other-product .item + .item{
        margin-top: 2rem;
    }

    .other-product a{
        display: block;
    }
    .other-product h3{
        padding: 1.3rem 0;
        color: #7B6F5A;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .other-product h4{
        padding: 1.5rem 0;
        line-height: 1.5;
        font-size: 1.3rem;
        font-weight: 500;
    }
    /* <!-- other-product END --> */

/* <!-- page-product END --> 產品分頁 */


/* ========================== 手機分頁 ========================== */

/*  ///////////////////////////////////////////////////////// 平版 /////////////////////////////////////////////////////////  */

@media screen and (min-width: 481px) {
/* 平版 全域 */

    .container{
        width: 100%;
        max-width: 460px;
        margin: auto;
        position: relative; 
    }


    /* <!-- page-header START --> */
    .page-header .container{
        max-width: 100%;
    }
    /* <!-- page-header END --> */


    /* <!-- story START --> */    
    .section-fixed.story{
        background: url('../img/pc/banner.jpg') center center/ cover;  
        padding: 80vh 0 0 0;
    }
    .story .container{
        max-width: 100%;
        background-color: #EFEEE9;
        padding: 2.5rem 0;
    }
    .story .content{
        max-width: 460px;
        margin: auto;
    }
    /* <!-- story END --> */ 


    /* <!-- intro START --> */
    /* 排版 */
    .intro .item{
        max-width: 400px;
        margin: auto;
    }
    .intro .item:nth-child(even){
        direction: rtl;
    }
    .intro .txt p{
        padding: 2rem;
        text-align: justify;
    }
    .intro .item:nth-child(even) .sum-box{
        right: 0;
        left: 0;
        top: 10%;
    }
    .intro .item:nth-child(even) .tip{
        right: 45%;
        z-index: 0;
    }
    .intro .pic{
        width: 21.25rem;
        height: 14.375rem;
        border-radius: 7rem;
        overflow: hidden;
        position: relative;
        right: 0%;
    }
    .intro .item:nth-child(even) .pic{
        width: 15.625rem;
        height: 15.625rem;
        border-radius: 50%;
        right: 0%;
        z-index: 1;
    }
    /* <!-- intro END --> */


    /* <!-- faith START --> */
    .faith{
        background: #EFEEE9 url('../img/pc/faith.jpg') fixed center/cover;
    }
    .faith strong{
        padding: 11rem 4rem 6rem;
    }
    /* <!-- faith END --> */

    /* <!-- principle START --> */

    .principle .container{
        max-width: 100%;
    }
    .principle .content::after{
        content: '';
        display: block;
        clear: both;
    }
    .principle .item{
        width: 27.333333%;
        margin: 3%;
        float: left;
    }
    .principle .item + .item{
        margin-top: 3%;
    }
    .principle .container::after{
        content:'';
        position: absolute;
        bottom: 0%;
        left: 30%;
    }
    /* <!-- principle END --> */


    /* <!-- news START --> */
    .news .container{
        max-width: 460px;
    }
    .news .item{
        width: 100%;
        border: 1px solid #DAD4CA;
        box-sizing: border-box;
    }
    .news .item + .item{
        margin-top: 2rem;
    }
    .news-body::after{
        content: '';
        display: block;
        clear: both;
    }
    .news-body .pic,
    .news-body .summary{
        display: block;
    }
    .news-body .pic,
    .news-body .txt{
        float: left;
    }
    .news-body .txt{ 
        width: 68%;
        margin-left: 2%;
    }
    .news-body .pic{ 
        width: 30%;
        position: relative;
    }

    .news-body .pic img{
        width: 100%;
        vertical-align: middle;
    }
    .news-body .title{
        font-size: 1rem;
        padding: 1rem 0rem 1rem .5rem;
        border-bottom:none ;
    }
    .news-body .title::after{
        content: '\f30b';
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        font-size: 1rem;
    }
    .news-body .summary{
        padding: .3rem;
        line-height: 1.1rem;
        font-size: .9rem;
        color: #707070;
    }

    .txt-more a::after{
        position: absolute;
        right: 2%;
    }
    /* <!-- news END --> */


    /* <!-- subscribe START --> */
    .subscribe .topic{
        text-align: center;
    }
    .subscribe form{
        word-spacing: 10px;
        text-align: center;
    }
    .subscribe input[type="email"]{
        width: 60%;
        margin-bottom: 0rem;
        padding-left: 1rem;
        box-sizing: border-box;
    }
    .subscribe input[type="submit"]{
        width: 150px;
    }
    /* <!-- subscribe END --> */


    /* <!-- product START --> */
    .product .container{
        max-width: 100%;
    }
    .product .content{
        padding: 1rem 1rem 0;
        box-sizing: border-box;
        grid-template-columns: repeat(2,1fr);
    }

    .product .content .item:nth-child(2) {
        margin-top: 0;
    }
    /* <!-- product END --> */


    /* <!-- media START --> */
    iframe{
        width: 460px; 
        height: 258px;
    }
    /* <!-- media END --> */


    /* <!-- retail-outlet START--> */
    .retail-outlet .container{
        max-width: 600px;
    }
    .retail-outlet .content::after{
        content: '';
        display: block;
        clear: both;
    }
    .retail-outlet .item{
        width: 46%;
        margin: 2%;
        float: left;
    }
    .retail-outlet .item + .item{
        margin-top: 2%;
    }

    .retail-outlet .pic,
    .retail-outlet .txt{
        width: 100%;
    }
    .retail-outlet .txt{ padding: 1.25rem;}
    /* <!-- retail-outlet END--> */


/* ========================== 平版分頁 ========================== */

/* <!-- page-login START --> 登入分頁 */
    .form-structor .form-body {
        width: 100%;
        max-width: 460px;
    }
    /* <!-- main-news START --> */    /* <!-- other-news START --> */
    .main-news .pic,
    .main-news .txt,
    .other-news .pic,
    .other-news .txt{
        clear: left;
        width: 100%;
    }
    .main-news .txt,
    .other-news .txt{
        margin-left: 0%;
    }
    .main-news .title{
        font-size: 1.2rem;
    }
    .other-news .pic{
        display: none;
    }
    /* <!-- main-news END --> */    /* <!-- other-news END --> */
/* <!-- page-login END --> 登入分頁 */


/* <!-- page-product START --> 產品分頁 */
    /* main-product START */
    .main-product .pic-gallery .pic,
    .pic-gallery .pic img{
        width: 100%;
        height: 460px;
    }
    /* main-product END */

    /* other-product START */
    .other-product .container{
        max-width: 100%;
    }
    .other-product .content{
        padding: 1rem 1rem 0;
        box-sizing: border-box;
        grid-template-columns: repeat(2,1fr);
    }

    .other-product .content .item:nth-child(2){
        margin-top: 0;
    }

    /* other-product END */

/* <!-- page-product END --> 產品分頁 */



/* ========================== 平版分頁 ========================== */

}

/* ///////////////////////////////////////////////////////// 電腦版 ///////////////////////////////////////////////////////// */

@media screen and (min-width: 769px) {

/* 電腦版 全域 */   
    .container{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        position: relative; 
    }

    /* <!-- wish-list START --> */
    .wish-list{
        box-shadow: 0px 0px 5px #a5a5a5,
                    0px 0px 0px 0px transparent;
    }
    /* <!-- wish-list START --> */


    /* <!-- page-header START --> */
    .page-header .container{
        max-width: 1200px;
    }
    .page-header label,
    .main-nav .social-link,
    .menu li:first-child{
        display: none;
    }
    .main-nav .cart-btn{
        display: block;
    }

    .page-header h1{
        display: inline-block;
    }
    .main-nav{
        width: 75%;
        top: 0;
        right: 0;
        height: 70px;
    }
    .menu{
        width: 84%;
    }
    .menu::after{
        content: '';
        display: block;
        clear: both;
    }
    .menu li{
        width: 16.666666%;
        float: left;
        border-bottom: none; 
    }
    .menu a{
        line-height: 70px;
    }

    /* .menu .active{
        color: #ff9900;
        border-bottom: 5px solid #ff9900;
    } */
    .menu li:hover a{
        color: #ff9900;
        border-bottom: 5px solid #ff9900;

    }

    .main-nav label{
        display: block;
        width: 8%;
        box-sizing: border-box;
    }
    .main-nav .fas{
        width: 100%;
        line-height: 70px;
        padding: 0;
        font-size: 25px;
    }
    .cart-btn .fas.fa-shopping-cart{
        padding-right: 0px;
    }
    .main-nav::after{
        content: '';
        display: block;
        clear: both;
    }
    .main-nav .menu,
    .main-nav .user-btn,
    .main-nav .cart-btn{
        position: relative;
        float: left;
    }

    .user-btn .fa-user{
        font-weight: 900;
    }

    .main-nav label:hover .fas{
        color: #ff9900;
    }

        /* 會員登入蓋版 */
    .pc-login{
        display: block;
        position: fixed;
        z-index: -1;
        height: 100vh;
        background-color: #000000b1;
        opacity: 0;
        visibility: hidden;
        transition: ease-in-out .5s;
    }
    .pc-login .container{
        background-color: #EFEEE9;
        max-width: 800px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        margin: auto;
    }
    .pc-login .content{
        width: 100%;
        text-align: center;
        padding: 1.3rem 0rem;
    }
    .pc-login .content::after{
        content: '';
        display: block;
        clear: both;
    }
    .pc-login .item{
        width: 50%;
        float: left;
        position: relative;
    }
    .pc-login form{
        width: 70%;
        padding: 0px 15%;
    }
    .pc-login .item:first-child::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: -2px;
        border-left:4px dashed #70707018 ;
    }
    .pc-login input{
        width: 100%;
        padding-left: 1rem;
        box-sizing: border-box;
        margin-bottom: 1.3rem;
    }
    .pc-login input:nth-child(2){
        margin-bottom: 0rem;
    }
    .pc-login input[type="submit"]{
        margin-top: 3rem;
        color: #fff;
        padding-left: 0rem;
    }
    .pc-login .item:first-child input[type="submit"]{
        background-color: #7B1B1B;
    }
    .pc-login .item:last-child input[type="submit"]{
        background-color: #008060;
    }

    .pc-login .ps-memo{
        font-size: .9rem;
        line-height: 1.2rem;
        margin-bottom: 1.3rem;
    }
    .pc-login .ps-memo::after{
        content: '';
        display: block;
        clear: both;
    }
    .ps-memo span{
        float: left;
        color: #707070;
    }
    .ps-memo a{
        float: right;
        text-decoration: underline;
    }

        /* 開關登入會員視窗 */
    #user-controler:checked ~ .pc-login{
        z-index: 8;
        opacity: 1;
        visibility: visible;
    }

    .pc-login .close-btn{
        position: absolute;
        top: 0;
        right: 0;
    }
    .close-btn span{
        position: absolute;
        opacity: 0;
    }
    .close-btn .fa-times{
        font-size: 30px;
        font-weight:300;
        color: #70707032;
        padding: 20px;
        transition: color .3s;
    }
    .close-btn:hover .fa-times{
        color: #AA4F01;
    }

    /* <!-- page-header END --> */   
    
    
    /* <!-- story START --> */    
    
    .story .container{
        max-width: 1200px;
        border-radius: 80px 100px 0px 0px;
    }
    .story .content{
        max-width: 100%;
        padding: 1rem 1.3rem 0rem;
    }
    .story .content::after{
        content: '';
        display: block;
        clear: both;
    }
    .story .item{
        width: 29.333333%;
        margin: 2%;
        float: left;
    }
    /* <!-- story END --> */    


    /* <!-- intro START --> */

        /* 排版 */
    .intro .item{
        max-width: 800px;
        margin: auto;
        word-spacing: -6px;
    }
    .intro .item:nth-child(even){
        direction: rtl;
    }
    .intro .fig-group,
    .intro .txt{
        display: inline-block;
        vertical-align: middle;
    }
    .intro .fig-group{
        width: 50%;
    }
    .intro .txt{
        width: 50%;
        direction: ltr;
    }
    /* <!-- intro END --> */


    /* <!-- faith START --> */

    .faith strong{
        padding: 15rem 4rem 10rem;
    }
    /* <!-- faith END --> */


    /* <!-- principle START --> */
    .section.principle{
        background-color:transparent;  
        padding: 0;
    }
    .principle .container{
        max-width: 1200px;
        background-color: #EFEEE9;
        padding: 2.5rem 0rem;
        border-radius: 0 0 80px 100px;
    }

    .principle .container::after{
        content:'';
        position: absolute;
        bottom: 5%;
        left: 30%;
    }

    .principle .content{
        width: 100%;
        max-width: 800px;
        margin: auto;
    }


    /* <!-- principle END --> */


    /* <!-- news START --> */
    .news .container{
        max-width: 750px;
    } 
    /* <!-- news END --> */


    /* <!-- product START --> */
    .product .container{
        max-width: 1200px;
    }
    .product .content{
        grid-template-columns: repeat(3,1fr);
    }
    .product .content .item:nth-child(3) {
        margin-top: 0;
    }

    /* <!-- product END --> */


    /* <!-- media START --> */
    .media{
        max-width: 1920px;
        margin: auto;
    }
    .media .item{
        width: 50%;
        float: left;
        position: relative;
    }
    .media .sns:not(:last-child){
        width: 25%;
    }
    iframe{

        width: 560px; 
        height: 315px;
    }
    /* <!-- media END --> */


    /* <!-- subscribe START --> */
    .subscribe input[type="email"]{
        width: 50%;
    }
    /* <!-- subscribe END --> */


    /* <!-- retail-outlet START--> */
    .retail-outlet .container{
        width: 100%;
        max-width: 1200px;
    }
    .retail-outlet .item{
        width: 23%;
        margin: 1%;
        float: left;
    }
    .retail-outlet .item + .item{
        margin-top: 1%;
    }
    /* <!-- retail-outlet END--> */


    
/* ========================== 電腦分頁 ========================== */

/* <!-- page-login START --> 登入分頁 */
    .page-login{
        display: none;
    }
/* <!-- page-login END --> 登入分頁 */


/* <!-- page-news START --> 消息分頁 */

    /* <!-- main-news START --> */    /* <!-- other-news START --> */
    .page-news .container{
        padding: 0rem 1rem;
        box-sizing: border-box;
    }
    .page-news .container::after{
        content: '';
        display: block;
        clear: both;
    }
    .main-news,
    .other-news{
        float: left;
    }
    .main-news{
        width: 65%;
        margin-right: 3%;
    }
    .other-news{
        width: 32%;
    }
    .other-news .title{
        font-size: 1rem;
    }
    .other-news .item:hover .title{
        color: #fff;
        background-color: #7B6F5A;
    }
    /* <!-- main-news END --> */    /* <!-- other-news END --> */
/* <!-- page-news END --> 消息分頁 */


/* <!-- page-product START --> 產品分頁 */

    /* <!-- main-product START --> */  
    .page-product .container{
        max-width: 1200px;
        padding: 0rem 1rem;
        box-sizing: border-box;
    }
    .product-body{
        width: 100%;
    }
    .product-body::after{
        content: '';
        display: block;
        clear: both;
    }
    .pic-gallery,
    .info-box{
        float: left;
    }
    .pic-gallery{
        width: 50%;
        margin-right: 3%;
    }
    .info-box{ width: 47%; }

    .main-product .pic-gallery .pic,
    .pic-gallery .pic img{
        width: 100%;
        height: 550px;  
    }
    .pic-gallery .pic img{ object-fit: cover; }

    .product-body h2{
        padding-top: 0;
        text-align: left;
    }
    .main-product .product-body .cart-box,
    .main-product .product-body .pay{
        max-width: 350px;
    }
    /* <!-- main-product END --> */  


    /* <!-- other-product START --> */
    .other-product .container{
        max-width: 1200px;
    }
    .other-product .content{
        grid-template-columns: repeat(3,1fr);
    }
    .other-product .content .item:nth-child(3) {
        margin-top: 0;
    }


    /* <!-- other-product END --> */

/* <!-- page-product END --> 產品分頁 */


/* ========================== 電腦分頁 ========================== */   

} 